extends layout

block content
  pre= table
  a.github-button(href='https://github.com/tylerlaws0n/sprt.dev' data-color-scheme='no-preference: dark; light: light; dark: dark;' data-icon='octicon-star' data-show-count='true' aria-label='Star tylerlaws0n/sprt.dev on GitHub') Star