doctype html
html(lang="en")
  head
    title Sports Schedule: #{location} 
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='apple-touch-icon' sizes='76x76' href='/images/favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/images/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/images/favicon/favicon-16x16.png')
    link(rel='manifest' href='/images/favicon/site.webmanifest')
    link(rel='shortcut icon' href='/images/favicon/favicon.ico')
    meta(name='msapplication-TileColor' content='#da532c')
    meta(name='msapplication-config' content='/images/favicon/browserconfig.xml')
    meta(name='theme-color' content='#ffffff')
    script(async='' defer='' src='https://buttons.github.io/buttons.js')
    link(href='./font.css' rel='stylesheet')


  body
    block content
