body {
  background: #000;
  color: #bbb;
}

pre {
  font-family: 'Source Code Pro', 'DejaVu Sans Mono', Menlo,
    'Lucida Sans Typewriter', 'Lucida Console', monaco,
    'Bitstream Vera Sans Mono', monospace;
  font-size: 14px;
}
